/*----------------------------------------------------------REUSE----------------------------------------------------------*/

.clearfix{
	clear: both;
}

.left{
	display: inline-block;
	width: 49%;
}

.right{
	width: 49%;
	display: inline-block;
	float: right;
}

html, body{
	margin: 0px;
	padding: 0px;
	background: #E0E0E0;
}

/*----------------------------------------------------------HEADER----------------------------------------------------------*/

header{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #171717;
	box-shadow: 3px 3px 3px #3F3F3F;
}

header nav{
	margin: 0px;
	padding: 0px;
}

header nav p{
	padding: 3%;
	display: inline-block;
	color: #E1E1E1;
	font-weight: bold;
}

header nav ul{
	padding: 3%;
	display: inline-block;
	float: right;
}

header nav ul li{
	padding: 0px 50px;
	display: inline-block;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #E1E1E1;
	font-weight: bold;
	transition: all 0.3s;	
}

header nav ul li a:hover{
	color: #353535;
}

/*----------------------------------------------------------SECCIÓN HOME----------------------------------------------------------*/

section#sechome{
	margin: 0px;
	padding: 5%;
}

section#sechome h1{
	padding-bottom: 10%;
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
}

section#sechome>div.left>p{
	width: 90%;
	text-align: justify;
}

section#sechome>div.left>ul{
	padding: 3%;
	margin: 0px;
}

section#sechome>div.left>ul>p{
	text-transform: uppercase;
}

section#sechome>div.left>ul>p>span{
	color: #721AAF;
	font-weight: bold;
}

section#sechome>div.right{
	margin: 0px;
	padding: 0px;
}


section#sechome>div.right>img{
	width: 70%;
}

/*----------------------------------------------------------FOOTER----------------------------------------------------------*/

footer{
	margin-top: 10%;
	background-color: #171717;
	box-shadow: 3px 3px 3px 3px #3F3E3E;
}

footer#left{
	width: 30%;
	margin: 0px;
	padding: 0px;
}

footer>div.left>a{
	width: 5%;
	margin-top: 2%;
	padding: 3% 20%;
	display: block;
	text-align: left;
	color: #D5D5D5;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.3s;
}

footer>div.left>a:hover{
	color: #292929;
}

footer>div.right>p{
	margin-top: 10%;
	padding: 3% 20%;
	text-align: right;
	color: #D5D5D5;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	float: right;
}

footer>div.right>img{
	padding: 5%;
	width: 15%;
	display: inline-block;
}

/*----------------------------------------------------------SECCIÓN CONTACTO----------------------------------------------------------*/

section#seccont{
	margin: 0px;
	padding: 5%;
}

section#seccont h1{
	text-align: center;

}

#seccont

section#seccont>div.left>p{
	text-align: center;
	color: #9F00E1;
	font-weight: bold;
	font-size: 2em;
}

/*----------------------------------------------------------FORMULARIO----------------------------------------------------------*/

section#seccont>div.right{
	width: 100%;
}

section#seccont>div.right>form{
	width: 30%;
	padding-right: 20%;
	padding: 5%;
	float: right;
	box-sizing: border-box;
	margin: auto;
	border-radius: 5px;
	background: transparent;
	color: #262626;
}

section#seccont>div.right>form>h1{
	font-weight: bold;
	font-size: 2em;
	text-shadow: 1px 1px 3px #4C4C4C;
	color: #989898;
	text-align: center;
	text-transform: uppercase;
}

section#seccont>div.right>form>p{
	padding-bottom: 30px;
	font-size: 0.7em;
	text-align: center;
	text-transform: uppercase;
	color: #494949;
}

section#seccont>div.right>form>input{
	width: 95%;
	display: block;	
	background-color: #7600C8;
	padding: 10px;
	margin: 5px 0px;
	transition: 0.2s;
}

section#seccont>div.right>form>input:hover{
		background: #C0C0C0;
}

section#seccont>div.right>form>input.button{
	width: 20%;
	margin-left: 40%;
	padding: 8px;
	background: #A601F3;
	border-radius: 5px;
	margin-bottom: 15px;
	border: 1px solid #258DE5;
	transition: 0.3s;
}

section#seccont>div.right>form>input.button:hover{
	background: #9202DC;
}

